extends ../layouts/verify

block content
    nav.navbar.navbar-ct-azure.navbar-fixed-top.navcolor(role='navigation1' style="box-shadow:1px 5px 20px 1px rgba(0, 0, 0, 0.2);")
        .container
            .navbar-header
                a.navbar-brand Account Verification
            .collapse.navbar-collapse
                ul.nav.navbar-nav.navbar-right
                    //li.active
                        a.navbar-brand(href='/')
                            span(style="text-transform: capitalize;color:white") m
                            span(style="text-transform: lowercase;color:white;") itra
                    li
                        a(href='/signup' style="color:#fff;font-weight:bold;")  Sign Up
                            
    .container
        .col-xs-offset-2.col-xs-8.col-md-offset-4.col-md-4.login-container
            h1.text-center.heading Mitra
            h4.text-center(style="color:green;") #{message}
                br
                a(href='/login/0').text-center Login from here
            