/**     dragula css     **/



.rightdiv
{
    background:#f9fcff;
}
.secdiv
{
    background:#f9fcff;
    height:75%;
    margin-top:1px;
}

#graphcontainer
{
    background:#f9fcff;
    margin-top:75px;
    height:670px; 
}
#rightcontainer
{
    width: 33% !important;
    margin-top: 4%;
    height: 100vh;
}
#slider
{
    width:100%;
}
.right-side{border: 1px solid #41719c;  background: #f1f1f1;float: left;margin-left: 1%;width: 28.7%;}

.node {
    fill: #f9fcff;
    stroke: #0a5082;
    stroke-width: 2px;
}

.link {
    stroke: #0a5082;
    stroke-width: 2px;
}

.samptext {
  pointer-events: none;
  color:#777;
  stroke:none;
  fill:#777;
}

.firstRow{
    height: 90vh;
    margin-bottom: -10px;
}

.relationWrapper{
  max-height: 78vh;
  background: #ccc;
  display: flex;
  flex-direction: column;
  margin-top: 6em;
  overflow-y: hidden;
}

.relationContent {
  display: flex;
  flex: 1;
  background: #999;
  color: #000; 
}
.columns{
  display: flex;
  flex:1;
}
.main{
  //flex: 1;

}
.sidebar-first{
  width: 20%;
  background: #f9fcff;
  order: 1;
  
}
.sidebar-second{ 
  width: 35%;
  order: 3;
  overflow-y: scroll;
  background: #f9fcff;  
}

.sidebar-second::-webkit-scrollbar-track ,.caseRecommendations::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 6px;
    background-color: #F5F5F5;
}

.sidebar-second::-webkit-scrollbar, .caseRecommendations::-webkit-scrollbar
{
    width: 8px;
    background-color: #F5F5F5;
}

.sidebar-second::-webkit-scrollbar-thumb, .caseRecommendations::-webkit-scrollbar-thumb
{
    border-radius: 6px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #DDD;
}



.caseRecommendations{
    height: 100%;
    width: auto;
    overflow-y: scroll;
    overflow-x: hidden;
}

.recommendationCard{
    display: inline-block;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 10px;
    border-radius: 2px;
    border-left: 5px solid #054c82;
    border-right: 5px solid #054c82;
    font-size: 15px;
    box-shadow: 0 1px 20px 3px rgba(0,0,0,0.1);
    padding: 5px;
    color: #042f4f;
    background-color: #f9fcff;
    width: 100%;
}

.recommendationCard:after {
    border-radius: 6px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    background-color: #FFFFFF;
    margin-bottom: 20px;
    -webkit-transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-color: #f9fcff;
}

.recommendationCard:hover{
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
  transform: scale(1.05, 1.05);
  cursor: pointer;
}

.recommendationTitle{
    display: inline-block;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 10px;
    //border-radius: 2px;
    //font-family: Papyrus ;
    font-size: 20px;
    width: 100%;
    padding: 5px;
    color: white;
    background-color: #054c82;
}

.defaultCase{
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
  transform: scale(1.05, 1.05);
  cursor: pointer;
  background-color: rgba(5,76,130,0.9);
  color: white;
  /*border-left: 5px solid #a70000;
  border-right: 5px solid #a70000;*/
}

.recommendationCard:hover:after{
  opacity:1;
}

.caseDetails{
    border-radius: 6px;
    margin-bottom: 5%;
    padding-bottom: 2%;
    box-shadow: 0 1px 20px 3px rgba(0,0,0,0.1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    background-color: #f9fcff;
    height: 95%;
    overflow-y: scroll;
    padding-right: 5%;
    padding-left: 5%;
    order: 2;
    height: 100%;
    width: 60%;
    text-align: justify;
}

.caseDetails::-webkit-scrollbar-track ,.caseRecommendations::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 6px;
    background-color: #F5F5F5;
}

.caseDetails::-webkit-scrollbar, .caseRecommendations::-webkit-scrollbar
{
    width: 8px;
    background-color: #F5F5F5;
}

.caseDetails::-webkit-scrollbar-thumb, .caseRecommendations::-webkit-scrollbar-thumb
{
    border-radius: 6px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #DDD;
}

#researchnotes{
    background-color: #f9fcff;
    height: 280px;
    color:#042f4f;
}

#notes{
    border-radius: 6px;
    box-shadow: 0 1px 20px 3px rgba(0,0,0,0.1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    overflow: auto;
}

#history{
    border-radius: 6px;
    margin-bottom: 5%;
    padding-bottom: 2%;
    box-shadow: 0 1px 20px 3px rgba(0,0,0,0.1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}


.left-side{width:69%;float: left;border: 1px solid #41719c;position:relative;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e3f0da+0,fbe8d8+100 */
    background: #f1f1f1; /* Old browsers */
    /*background: -moz-linear-gradient(left,  #e3f0da 0%, #fbe8d8 100%); !* FF3.6-15 *!*/
    /*background: -webkit-linear-gradient(left,  #e3f0da 0%,#fbe8d8 100%); !* Chrome10-25,Safari5.1-6 *!*/
    /*background: linear-gradient(to right,  #e3f0da 0%,#fbe8d8 100%); !* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ *!*/
    /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e3f0da', endColorstr='#fbe8d8',GradientType=1 ); !* IE6-9 *!*/
}

.spinner {
  margin: 100px auto 0;
  width: 70px;
  text-align: center;
  position: fixed;
  top: 40%;
  left: 50%;
  right: 50%;
}

.spinner > div {
  width: 18px;
  height: 18px;
  background-color: #054c82;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% { 
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% { 
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}