#home{
    /*background-image: url('/img/bg6.jpg');background-position: center center;*/
    background-size: cover;
    height: auto;
    left: 0;
    min-height: 100%;
    min-width: 100%;
    position: absolute;
    top: 0;
    width: auto;
    overflow: scroll;
}

@media (max-width: 450px){
  #searchCasesButton{
    font-size: 12px !important;
  }
}

#loader
{
    display:none;
}
.loader
{
    width:75px;
    height:75px;
    position:absolute;
    z-index:1000;
    left:45%;
    top:46%;
    display:none;
}
.brandwrap{
    color: #FFFFFF;
    /*font-size: 64px;*/
    font-weight: 600;
    position: relative;
    text-align: center;
    /*text-shadow: 0 0 10px rgba(0, 0, 0, 0.27);*/
    text-transform: uppercase;
    z-index: 3;
    margin: 0 auto;
    top: 23%;
    width: 350px;
    text-shadow:none !important;
    font-size: 4em !important
}
.tagline{
    //color: #FFFFFF;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.27);
    top: -45%;
    left: 12%;
    position: relative;
    //text-decoration: overline;
    text-decoration-color: #042F4F !important; 
    -webkit-text-decoration: overline;
    -webkit-text-decoration-color: #042F4F !important;
    //width: 130%;
}
.serachwrap{

    top:23%;
    position: Relative;
    text-align: center;width: 100%;

}
.searchbox{height: auto;
    font-size: 30px;
    border: 1px;
    color: #042f4f;
    padding: 0;
    font-weight: 300;
    line-height: 46px;
    padding: 0px 10px !important; border: 1px solid #d0d0d0;
    border-radius: 4px !important;
    //border: 1px solid #042f4f;
    box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.61), 0 0 0 1px rgba(0, 0, 0, 0);
    width: 70%;
    margin: auto;
}

.buttonGroup button{
    height: 35px;
    width: 120px;
    margin-right: 2%;
    text-align: center;
}
.buttonGroup button:hover{
    background: #1a4e75 !important;
    color: white;
}

.filterButton:disabled{
    line-height: 46px;
    border: 1px solid;
    background-color: #042f4f;
    color: white;
    font-weight: bold;
    opacity: 1;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    margin-top: -1px;
}

.filterButton:disabled:hover,.filterButton:active{
    background-color: #042f4f;
    color: white;
    cursor: pointer;
}

.dropDownContent{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 4px;
}

.dropDownContent a {
    color: rgb(04,47,79);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border-radius: 4px;
}

.dropDownContent a:hover {
    background-color: #042f4f;
    color: white;
    cursor: pointer;
}

.courtListDiv:hover .dropDownContent {
    display: block;
}


.mycolor{
    color: yellow;
}


.filters li {list-style: none;
    background: #054c82;
    color: white;
    box-shadow: 0 1px 1px 1px rgba(0,0,0,0.1);
    float: left;
    padding: 8px 20px;
    margin: 8px 0 15px 5px;}
.filters span {float:right; margin-left:10px; cursor:pointer; font-weight:bold;}