extends ../layouts/search

block content
	nav.navbar.navbar-ct-azure.navbar-fixed-top.navcolor(role='navigation1',style="box-shadow: 1px 5px 20px 1px rgba(0, 0, 0, 0.2);")
		#searchterm.hide #{searchterm}
		.container
			//.navbar-header
				//a.navbar-brand(href='/') Search Results
			//.navbar-header
				//a.navbar-brand(href='/') Mitra
			div
				ul.nav.navbar-nav
					li.active
						//a(href='/')
							//img(src='/img/Mlogo2.png',alt='Mitra logo')
					li
						div.input-group(style="width:520px !important; height: auto;")
							input.form-control.searchboxinput.searchbox_topbar(type='text', list='phrase-list', value='', placeholder='', id="searchCasestext")
							datalist#phrase-list
							//span.input-group-btn.searchBoxFilterBtn.courtListDiv
								i.fa.fa-filter.fa-2x
								div(class="dropDownContent" style="padding: 15px 15px 0px 15px;")
									table.table.table-bordered(style="border-radius:4px !important;")
										tbody

											//tr
												td(colspan="3", style="background-color:#1a4e75; color:white;") Court Name													

											//tr
												
												td 
													.form-check
														label.form-check-label
															input#court0.form-check-input(type='radio', name='courtType', value='sc', checked='')
															|	Supreme Court
												td 
													.form-check
														label.form-check-label
															input#court1.form-check-input(type='radio', name='courtType', value='bombayhc', checked='')
															|	Bombay HC
												td
													.form-check
														label.form-check-label
															input#court2.form-check-input(type='radio', name='courtType', value='delhihc', checked='')
															|	Delhi HC
												
											tr
												td(colspan="3", style="background-color:#1a4e75; color:white;") Search By
												
											tr
												
												td 
													.form-check
														label.form-check-label
															input#search0.form-check-input(class="byjudgement", type='radio', name='searchType', value='byjudgement', checked='')
															|	Judgement
												td
													.form-check
														label.form-check-label
															input#search1.form-check-input(class="bytitle", type='radio', name='searchType', value='bytitle', checked='')
															|	Title
												td
													.form-check
														label.form-check-label
															input#search2.form-check-input(class="bymachine", type='radio', name='searchType', value='bymachine', checked='')
															|	Context											
												
					li
						a(href='javascript:void(0);' class="btn btn-info btn-lg btn-round btn-fill btn-block searchbutton_topbar", id="searchCasesButton"
						style="font-weight: bold;background-color: transparent !important;color: white;font-size: 20px;border-width: 2px;padding: 8px; !important") SEARCH

					//li.active
						a.navbar-brand(href='/' style="margin-left: 150px;")
							span(style="text-transform: capitalize;color:white") p
							span(style="text-transform: lowercase;color:white;") ensieve
				ul.nav.navbar-nav.navbar-right
					if loggedin
						li.dropdown
							a.dropdown-toggle(data-toggle='dropdown', href='#' style="color:#fff;font-weight:bold;") #{username}
									span.caret(style="color:#fff;font-weight:bold;border-top-color:#fff")
							ul.dropdown-menu
								li
									a(href='/myAccount' style="color:#000;font-weight:bold;") My Account
								li
									a(href='/notePad' style="color:#000;font-weight:bold;") Notepad
								li
									a(href='/changepassword' style="color:#000;font-weight:bold;") Change Password
								li
									a(href='/logout' style="color:#000;font-weight:bold;") Logout
					else
						li
							a(href='/login/0' style="color:#fff;font-weight:bold;")  Login
						li
							a(href='/signup' style="color:#fff;font-weight:bold;")  Sign Up

	#search.wrapper(style='')
		.main(onload="callSearch()")
			.section
				.container.tim-container
					.row.tim-row
						.filters
						.clearfix
						div.spinner
							div.bounce1
							div.bounce2
							div.bounce3
						.col-md-7.col-sm-7.resultDiv
							- var partners =[{ "_id": 1, "image": "imagex" }, { "_id": 2, "image": "imagey" },{ "_id": 3, "image": "imagex" }, { "_id": 4, "image": "imagey" }]
							#srp
								label#loader 
							.col-md-6
								a(class="btn btn-info btn-fill btn-block", onClick="paginate()" style="display:none;" id="loadmorebutton") Load more
							.col-md-6
								a(class="btn btn-info btn-fill btn-block", data-toggle='modal', data-target='#myModal' style="display:none;" id="feedbackbutton") Provide Overall Feedback
						.col-md-5.col-sm-5
							#case-content.casecontent.light(style="position:fixed;width: 33%;max-height: 540px !important;")
								h4(style="text-align:center;padding-top:25px;")


				// end
	#myModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
		.modal-dialog(role='document')
			.modal-content
				.modal-header(style="border-bottom:1px solid #eee;")
					button.close(type='button', data-dismiss='modal', aria-label='Close')
						span(aria-hidden='true') ×
					h3.modal-title(style="text-align:center;") OVERALL FEEDBACK
				.modal-body(style="padding:0px 0px 20px 0px;")
					.col-md-12.col-sm-12.individual_feedback_container(style="padding:0px !important;")
						h5(style="color:#000 !important;") Are you satisfied with the overall results? Please let us know by providing a rating and comments.
						h5(style="color:#000 !important;") Rating:
						span.glyphicon.glyphicon-star-empty(onclick="lightoverallfeedback(event,1)",style="font-size:4vw !important;", aria-hidden='true')
						span.glyphicon.glyphicon-star-empty(onclick="lightoverallfeedback(event,2)",style="font-size:4vw !important;", aria-hidden='true')
						span.glyphicon.glyphicon-star-empty(onclick="lightoverallfeedback(event,3)",style="font-size:4vw !important;", aria-hidden='true')
						span.glyphicon.glyphicon-star-empty(onclick="lightoverallfeedback(event,4)",style="font-size:4vw !important;", aria-hidden='true')
						span.glyphicon.glyphicon-star-empty(onclick="lightoverallfeedback(event,5)",style="font-size:4vw !important;", aria-hidden='true')
						.form-group(style="padding:10px;")
							h5(style="color:#000 !important;") Comments:
							textarea#comment.form-control(rows='5')
							br
							.col-md-6.col-md-offset-3
								a(class="btn btn-info btn-fill btn-block",onclick="giveoverallfeedback(event)") Submit Overall Feedback
							br


block append js
	script(type="text/javascript").
		$(document).ready(function () {
			
			var loggedin = '#{loggedin}';
			console.log('loggedin : '+loggedin);
			if(loggedin=='false'){
				checkAuthentication();
			}
			
			$(".resultDiv").hide();
			$(".casecontent").hide();
			getsimilarCasesByText();
			callSearch();
			var courtType = localStorage.getItem('caseType');
			var searchType = localStorage.getItem('searchType');
			document.getElementById("court"+courtType).checked = true;
			document.getElementById("search"+searchType).checked = true;
			$('input[type=radio][name=searchType]').change(function() {
				if (this.value == 'byjudgement') {
					localStorage.setItem('searchType',0);
				}
				else if (this.value == 'bytitle') {
					localStorage.setItem('searchType',1);
				}
				else if (this.value == 'bymachine') {
					localStorage.setItem('searchType',2);
				}
			});
			$('input[type=radio][name=courtType]').change(function() {
				if (this.value == 'sc') {
					saveCaseType(0);
				}
				else if (this.value == 'bombayhc') {
					saveCaseType(1);
				}
				else if (this.value == 'delhihc') {
					saveCaseType(2);
				}
			});
			
			$('#searchCasestext').bind('change keyup', function (event) {
				var keypressed = event.keyCode || event.which;
				if (keypressed == 13) {
					$("#searchCasesButton").click();
				}
				else{
					suggestPhrases(keypressed);
				}

			});

			$(document).on('click', '.filterdata',  function (e) {
				console.log("here");
				var filterdata=$(this).data('filter');
				$('.'+filterdata).hide();
				var searchUrl=location.search;
				if(searchUrl.indexOf("?")== "-1") {
					var urlValue='?excluded='+filterdata;
					history.pushState({state:1, rand: Math.random()}, '', urlValue);
				}
				else {
					var urlValue=searchUrl+'&'+filterdata;
					history.pushState({state:1, rand: Math.random()}, '', urlValue);
				}
				displayFilteredData();
			});
		})