block append js
    script(src="/js/jquery-1.10.2.js" type="text/javascript")
    script(src="/js/jquery-ui-1.10.4.custom.min.js" type="text/javascript")
    script(src="/js/jquery-ui-1.12.1/jquery-ui.js" type="text/javascript")
    script(src="/js/gsdk-checkbox.js")
    script(src="/js/gsdk-morphing.js")
    script(src="/js/gsdk-radio.js")
    script(src="/js/gsdk-bootstrapswitch.js")
    script(src="/js/bootstrap-select.js")
    script(src="/js/bootstrap-datepicker.js")
    script(src="/js/chartist.min.js")
    script(src="/js/jquery.tagsinput.js")
    //script(type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false")
    script(src="/js/get-shit-done.js")
    script(src="/lib/scrollbar/jquery.mCustomScrollbar.concat.min.js")
    script(src="/js/dragula.js")
    script(src="/js/relation.js")
    script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js")
    script(src="http://d3js.org/d3.v3.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")
    script(src="/lib/summernote/summernote.js")
    script(src="/js/summernote-ext-print.js")
    script(src="/js/summernote-ext-share.js")    
    script(src="/sweetalert2/dist/sweetalert2.min.js")
    script(src="/js/custom.js")