extends ../layouts/search

block content
    nav.navbar.navbar-ct-azure.navbar-fixed-top.navcolor(role='navigation1' style="box-shadow:1px 5px 20px 1px rgba(0, 0, 0, 0.2);")
        .container
            .navbar-header
                a.navbar-brand(href='/') Mitra
            .collapse.navbar-collapse()
                ul.nav.navbar-nav.navbar-right
                    //li.active
                        a.navbar-brand(href='/')
                            span(style="text-transform: capitalize;color:white") m
                            span(style="text-transform: lowercase;color:white;") itra
                    li.dropdown
                            a.dropdown-toggle(data-toggle='dropdown', href='#' style="color:#fff;font-weight:bold;") #{username}
                                    span.caret(style="color:#fff;font-weight:bold;border-top-color:#fff")
                            ul.dropdown-menu
                                li
                                    a(href='/' style="color:#000;font-weight:bold;") Home
                                li
                                    a(href='/myAccount' style="color:#000;font-weight:bold;") My Account
                                li
                                    a(href='/notePad' style="color:#000;font-weight:bold;") Notepad
                                li
                                    a(href='/changepassword' style="color:#000;font-weight:bold;") Change Password
                                li
                                    a(href='/logout' style="color:#000;font-weight:bold;") Logout

    #case.wrapper(style="padding:50px 0px 0px 0px")
        .section

            .container.tim-container
                .row
                    #caseleftwarp.col-md-6.col-sm-6
                        #copybuttonwrap(style="float:right;")
                            //button(id="copybutton" style="position: absolute;text-align:right;color: #fff!important;background-color: #4CAF50!important;")
                            //    | >

                        #case-content.casecontent.light
                            h4(style="text-align:center;padding-top:25px;") Loading...



                    #caserightwarp.col-md-6.col-sm-6
                        .row
                            .col-md-12.col-sm-12.shotlistbackwrapper.clearfix
                                .col-sm-10.col-md-10#shotlistwrapper
                                    #center

                                    #crosshair-x
                                    #crosshair-y
                                    #circles

                                .col-md-2.col-sm-2(style="margin-top:12px;text-align: center;vertical-align: middle;")
                                    a(class="btn btn-info btn-fill", href="/synopsis",style='margin-bottom:10px;width: 180px;margin:10%;font-size: 0.8em;') Next : See Synopsis >
                                    a(class="btn btn-info btn-fill", href="javascript:void(0);", onclick="BackToRelationPage()" style='margin-bottom:10px;width: 180px;margin:10%;font-size: 0.8em;') < back to Case selection



                        .row
                            .col-md-12.col-sm-12.researchnoteswrapper
                                h5(style="text-align:center;margin-top:15px;") RESEARCH NOTES :
                                #researchnotes.casecontent.light
                                    ul


block append js
    script(type="text/javascript").
        $(document).ready(function () {
            console.log("loaded");
            compareTheseCases();
            var tooltip, hidetooltiptimer,text;
            createtooltip();

            var current_case_title = localStorage.getItem("current_case_title").substring(0,20)+ "..";
            $("#center").html('<span id="maincase" onclick="showdetailsArrowClicked(\'casesbyids\', \''+localStorage.getItem("current_case_id")+'\')">'+current_case_title+'</span>');

            // create tooltip by calling it ONCE per page. See "Note" below

            var buddhaquote = document.getElementById('mCSB_1_container')

            buddhaquote.addEventListener('mouseup', function (e) {

                if (window.getSelection) {
                    text = window.getSelection().toString();
                } else if (document.selection && document.selection.type != "Control") {
                    text = document.selection.createRange().text;
                }
                // Added Case tile in notes on right
                var conLiHtml = '<li><b>' + current_case_title_log + '</b> - ' + text + '</li>';

                if (conLiHtml != "") {
                    localStorage.setItem("current_research_notes_copied", conLiHtml);
                    showtooltip(e)
                }

            }, false)

            $('#copy_tooltip').on('click', function(e){
                var copied_text = localStorage.getItem('current_research_notes_copied');
                $("#mCSB_2_container ul").append(copied_text);
                // call function to create data array for synopsis page
                createsynopsisarray(current_case_title_log,text,current_case_id_log);
                localStorage.setItem("research_notes",$("#mCSB_2_container").html());
                //console.log(localStorage.getItem('research_notes'));
                $('#copy_tooltip').css({'opacity':0});
            });
        })

