extends ../layouts/home

block content
    link(href='https://fonts.googleapis.com/css?family=Roboto:700', rel='stylesheet')
    nav.navbar.navbar-ct-azure.navbar-transparent.navbar-fixed-top(role='navigation')
        .container
            .navbar-header
                button#menu-toggle.navbar-toggle(type='button')
                    span.sr-only Toggle navigation
                    span.icon-bar.bar1
                    span.icon-bar.bar2
                    span.icon-bar.bar3
                a.navbar-brand(href='/')

            .collapse.navbar-collapse(style="display:none;", data-nav-image='https://unsplash.imgix.net/45/YzgdnQ4TTumS8xR9YRKJ_IMG_2761%20(1).jpg?q=75&w=1080&h=1080&fit=max&fm=jpg&auto=format&s=c3a6ca3206d20278d01df6c40c478da2')
                ul.nav.navbar-nav.navbar-right(style="display:none;")
                    li.active
                        a(href='#')
                    li
                        a(href='#')  Stats

            .collapse.navbar-collapse(data-nav-image='https://unsplash.imgix.net/45/YzgdnQ4TTumS8xR9YRKJ_IMG_2761%20(1).jpg?q=75&w=1080&h=1080&fit=max&fm=jpg&auto=format&s=c3a6ca3206d20278d01df6c40c478da2')
                ul.nav.navbar-nav.navbar-right
                    if loggedin
                        li.dropdown
                            a.dropdown-toggle(data-toggle='dropdown', href='#' style="color:#000;font-weight:bold;") #{username}
                                    span.caret(style="color:#000;font-weight:bold;border-top-color:#000")
                            ul.dropdown-menu
                                li
                                    a(href='/myAccount' style="color:#000;font-weight:bold;") My Account
                                li
                                    a(href='/changepassword' style="color:#000;font-weight:bold;") Change Password
                                li
                                    a(href='/logout' style="color:#000;font-weight:bold;") Logout
                    else
                        li
                            a(href='/login/0' style="color:#000;font-weight:bold;")  Login
                        li
                            a(href='/signup' style="color:#000;font-weight:bold;")  Sign Up


    #home.wrapper(style='')
        .parallax
            .brandwrap
                span(style="color:#042F4F;font-size:120px;font-family:'Roboto', sans-serif;") M
                span(style="text-transform:lowercase;color:#042F4F;font-size:100px;font-family:'Roboto', sans-serif;") ITRA
            //h3.tagline Start designing and developing faster
            br
            .serachwrap
                .container
                    .row
                        .col-md-8(style="left:21%")
                            .form-group.ui-widget
                                input.form-control.searchboxinput.searchbox(type='text',list='phrase-list', value='', placeholder='Search over 25000 Mumbai HC cases', id="searchCasestext")
                                datalist#phrase-list
                    .col-md-2(style="width:21%;align:center")
                    .col-md-8
                        input.radiob(type='checkbox', class = 'byjudgement', name='searchbyjudgement', value='byjudgement' style="width : 20px ; height : 20px ; " checked)
                        span(style="text-transform: capitalize;color:#0000FF;font-weight:bold")
                            font(size="4" color="#042f4f" font-weight="bold")  Search By Judgement

                        input.radiob(type='checkbox', class = 'bytitle', name='searchbytitle', value='bytitle' style="width : 20px ; height : 20px ; margin-left : 17px" )
                        span(style="text-transform: capitalize;color:#0000FF;font-weight:bold")
                            font(size="4" color="#042f4f" font-weight="bold")  Search by Title

                        input.radiob(type='checkbox', class = 'bymachine', name='searchbyML', value='byML' style="width : 20px ; height : 20px ; margin-left:40px ")
                        span(style="text-transform: capitalize;color:#0000FF;font-weight:bold")
                            font(size="4" color="#042f4f" )  Search by Context
                    br
                    .col-md-2(style="width:33%;align:center")
                    .col-md-2(style="width:35%;align:center")
                        br
                        a(href='javascript:void(0);'  style="background-color: #1a4e75;color: white;border: none;font-weight: bold;font-size: 22px;padding:11px" class="btn btn-info btn-lg btn-round btn-fill btn-block", id="searchCasesButton" onClick="searchMumbaiCases()") SEARCH
block append js
    script(type="text/javascript").
        $(document).ready(function () {
            console.log("loaded");

            $(".radiob").change(function() {
                $(".radiob").prop('checked', false);
                $(this).prop('checked', true);
            });

            $('#searchCasestext').bind('change keyup',function (event) {
                var keypressed = event.keyCode || event.which;
                if (keypressed == 13) {
                    console.log("key 13 pressed");
                    $("#searchCasesButton").click();
                }
                else{
                    suggestPhrases(keypressed);
                }
            });
        })
