.App {
  text-align: center;
  margin-top: 100px;
}


.formControl {
    background-color: white;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    color: #444444;
    padding: 8px 16px;
    height: 40px;
    -webkit-box-shadow: none;
    box-shadow: none;
}


.searchButtonStyle{
      font-weight: bold;
      background-color: transparent !important;
      color: white;
      font-size: 20px !important;
      border-width: 2px;
      padding: 10px !important;
    }   


.flex-container {
    display: flex;
    flex-direction: row;
    height: 450px; 
    align-items: stretch;    
    margin : 50px 10px 10px 10px;
    
}



.flex-container > * {
  padding: 10px;
  flex: 1 100%;
}

.flex-item-1 {
    
    display: flex;
    align-self: flex-start;
    align-items: center;
    max-height: 100%;
    flex: 1 1 auto;
    border: 1px solid grey;
    width: 350px;
    position: relative;
    border-radius: 2px;
}

.flex-item-1 ol{
  
  margin: 10px 5px 5px -35px;
  
}

.flex-item-1 li{
  border: 1px solid #dedede;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
    position: relative;
    padding: 10px 8px;
    cursor: pointer;
    margin-bottom: -1px;
    
}


.flex-item-2 {
    
    border: 1px solid grey;
    margin: 0 6px 10px;
    align-items: stretch;
    flex-direction: column;
    display: flex;
    max-height: 100%;
    vertical-align: baseline;
    
    flex-grow: 2;
    overflow-y: auto;
    border-radius: 2px;
}
.flex-item-3 {
    
    align-items: stretch;
    flex-direction: column;
    display: flex;
    max-height: 100%;
    vertical-align: baseline;
    flex: 1 1 auto;
    border: 1px solid grey;
    margin: 0 0px 10px;
    width: 350px;
    border-radius: 2px;
}


table{
  margin-top: 14px;
  width: 100%;
}

th {
    font-size: small;
    border-bottom: 1px solid grey;
}


tr{
    margin-bottom: 14px;   
}

.keyWordDiv{
  height:40px;
  border: 1px solid #dedede;
  margin-bottom:-1px;
  padding-left: 5px;
  padding-right: 5px;
  overflow-y: auto;
}

.moment{
  float: right;
}

.keyWordDiv .query{
  float: left;
}

.keyWordDiv a{
  cursor: pointer;
  margin-left: 5px;
}

.caseDiv{
  height: 70px;
  border: 1px solid #dedede;
  padding-right: 10px;
  overflow-y: auto;
}