.panel {
    border: 0;
    border-bottom: 1px solid $medium-gray;
    box-shadow: none;
}
.panel-default > .panel-heading {
    background-color: $white-color;
    border-color: $white-color;
    box-shadow: 0 1px 7px rgba(0, 0, 0, 0.14);
}
.panel-group .panel{
    border-radius: 0;
}
.panel-title{
    font-size: $font-size-h5;
}
.panel-title a:hover, .panel-title a:focus{
    text-decoration: none;
}
.gsdk-collapse{
    display: block;
    height: 0px;
}
.panel-title a:hover, .panel-title a:focus{
    color: $default-states-color;
}
