extends ../layouts/home

block content
	link(href='https://fonts.googleapis.com/css?family=Roboto:700', rel='stylesheet')
	nav.navbar.navbar-ct-azure.navbar-transparent.navbar-fixed-top(role='navigation' style='background-color:white;')
		.container
			.navbar-header
				button#menu-toggle.navbar-toggle(type='button')
					span.sr-only Toggle navigation
					span.icon-bar.bar1
					span.icon-bar.bar2
					span.icon-bar.bar3
				a.navbar-brand(href='/') 

			.collapse.navbar-collapse()
				.nav.navbar-nav.navbar-left
					a(href='/')
						img(src='/img/MitraLogo.png',alt='Mitra logo')

				ul.nav.navbar-nav.navbar-right
						if loggedin
							li.dropdown

									a.dropdown-toggle(data-toggle='dropdown', data-hover='dropdown', href='#' style="color:#000;font-weight:bold;") Product
											span.caret(style="color:#000;font-weight:bold;border-top-color:#000")

									ul.dropdown-menu
										li
											a(href='/requestDemo' style="color:#000;font-weight:bold;") Request Demo
										li
											a(href='/product/howitworks' style="color:#000;font-weight:bold;") How it works?
										li
											a(href='/product/faqs' style="color:#000;font-weight:bold;") FAQs

									li
										a(href='/pricing' style="color:#000;font-weight:bold;")  Pricing

									li.dropdown

										a.dropdown-toggle(data-toggle='dropdown', data-hover='dropdown', href='#' style="color:#000;font-weight:bold;") Company
												span.caret(style="color:#000;font-weight:bold;border-top-color:#000")

										ul.dropdown-menu
											li
												a(href='/company/about' style="color:#000;font-weight:bold;") About Us
											li
												a(href='/company/contact' style="color:#000;font-weight:bold;") Contact Us
							li.dropdown
								a.dropdown-toggle(data-toggle='dropdown', href='#' style="color:#000;font-weight:bold;") #{username}
										span.caret(style="color:#000;font-weight:bold;border-top-color:#000")
								ul.dropdown-menu
									li
										a(href='/myAccount' style="color:#000;font-weight:bold;") My Account
									li
										a(href='/notePad' style="color:#000;font-weight:bold;") Notepad
									li
										a(href='/changepassword' style="color:#000;font-weight:bold;") Change Password
									li
										a(href='/logout' style="color:#000;font-weight:bold;") Logout

								
						else
							li.dropdown

								a.dropdown-toggle(data-toggle='dropdown', data-hover='dropdown', href='#' style="color:#000;font-weight:bold;") Product
										span.caret(style="color:#000;font-weight:bold;border-top-color:#000")

								ul.dropdown-menu
									li
										a(href='/requestDemo' style="color:#000;font-weight:bold;") Request Demo
									li
										a(href='/product/howitworks' style="color:#000;font-weight:bold;") How it works?
									li
										a(href='/product/faqs' style="color:#000;font-weight:bold;") FAQs

							li
								a(href='/pricing' style="color:#000;font-weight:bold;")  Pricing

							li.dropdown

								a.dropdown-toggle(data-toggle='dropdown', data-hover='dropdown', href='#' style="color:#000;font-weight:bold;") Company
										span.caret(style="color:#000;font-weight:bold;border-top-color:#000")

								ul.dropdown-menu
									li
										a(href='/company/about' style="color:#000;font-weight:bold;") About Us
									li
										a(href='/company/contact' style="color:#000;font-weight:bold;") Contact Us

							li
								a(href='/login/0' style="color:#000;font-weight:bold;")  Login
							li
								a(href='/signup' style="color:#000;font-weight:bold; border:1px solid #042F4F; background-color:#042F4F; border-radius:4px; color:white;")  Sign Up
		.container.pricing
			.row
				.col-sm-6.col-xs-6
					.card(style='background-color: #042F4F;')
						.card-block.monthly
							h2.card-title 
								i.fa.fa-inr(style='font-size: 1em;')
								|499/Month

							h4 Features 
							ul
								li 
									i(class='fa fa-gavel') 
									|	&nbsp; Access to all of Supreme Court Cases
								li 
									i(class='fa fa-gavel') 
									|	&nbsp; Contextual Search
								li 
									i(class='fa fa-gavel') 
									|	&nbsp; Natural Language Query
								li 
									i(class='fa fa-gavel') 
									|	&nbsp; Recommendations based on your searched cases
								li 
									i(class='fa fa-gavel') 
									|	&nbsp; Create, Save and Print defensible arguments online
								li 
									i(class='fa fa-gavel') 
									|	&nbsp; Save and retrieve searched keywords, cases &nbsp; &nbsp;
								


				.col-sm-6.col-xs-6
					.card(style='background-color: #042F4F;')
						.card-block.annual
							h2.card-title
								i.fa.fa-inr(style='font-size: 1em;')
								|4999/Year
							h4 Features 
							ul
								li 
									i(class='fa fa-gavel') 
									|	&nbsp; Access to all of Supreme Court Cases
								li 
									i(class='fa fa-gavel') 
									|	&nbsp; Contextual Search
								li 
									i(class='fa fa-gavel') 
									|	&nbsp; Natural Language Query
								li 
									i(class='fa fa-gavel') 
									|	&nbsp; Recommendations based on your searched cases
								li 
									i(class='fa fa-gavel') 
									|	&nbsp; Create, Save and Print defensible arguments online
								li 
									i(class='fa fa-gavel') 
									|	&nbsp; Save and retrieve searched keywords, cases
								li 
									i(class='fa fa-gavel') 
									|	&nbsp; Save ~17% of total cost
block append js
	script(type='text/javascript').
		$(document).ready(function () {
			
			$('.card-block').hover(function(){
				$(this).addClass('hovered');
			},function(){
				$(this).removeClass('hovered');
			})
		});