extends ../layouts/search

block content
	nav.navbar.navbar-ct-azure.navbar-fixed-top.navcolor(role='navigation1' style="box-shadow:1px 5px 20px 1px rgba(0, 0, 0, 0.2);")
		#searchterm.hide #{searchterm}
		.container
			.collapse.navbar-collapse()
				ul.nav.navbar-nav
					li.active
						a.navbar-brand(href='/')
							span(style="text-transform: capitalize;color:white") m
							span(style="text-transform: lowercase;color:white;") itra

					li
						input.form-control.searchboxinput.searchbox_topbar(type='text', list='phrase-list', value='', placeholder='', id="searchCasestext")
						datalist#phrase-list
					li
						a(href='javascript:void(0);' class="btn btn-info btn-lg btn-round btn-fill btn-block searchbutton_topbar", id="searchCasesButton" onClick="searchCases()"
						style="font-weight: bold;background-color: transparent !important;color: white;font-size: 20px;border-width: 2px;padding: 10px; !important") SEARCH
				ul.nav.navbar-nav.navbar-right
					li.dropdown
						a.dropdown-toggle(data-toggle='dropdown', href='#' style="color:#fff;font-weight:bold;") #{user}
								span.caret(style="color:#fff;font-weight:bold;border-top-color:#fff")
						ul.dropdown-menu
							li
								a(href='/' style="color:#000;font-weight:bold;") Home
							li
								a(href='/notePad' style="color:#000;font-weight:bold;") Notepad
							li
								a(href='/changepassword' style="color:#000;font-weight:bold;") Change Password
							li
								a(href='/logout' style="color:#000;font-weight:bold;") Logout
	div(id='app')
		script.
			var username = "#{username}"
			var user = "#{user}"
	script(src="/js/App_bundle.js",type="text/javascript")
		